body {
	background-color: #2d2927;
	color: #b2c2d4;
}
#page-header {
	margin-top: 25px;
	margin-bottom: 3%;
}

.save-btn, .home-btn {
	width: 100%;
	margin-top: 20px;
}

.roster {
	padding-bottom: 20px;
}

.session {
	margin: 50px;
}

.day {

}

.player-list {
	padding: 15px;
}

.player-list:nth-child(even) {
	background-color: #af5a41;
}

.player-list:nth-child(odd) {

	background-color: #bf3e16;
}

.dm {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}
.roster-controls {
margin-top: 50px;
}

.entry-wrap {
	margin-top: 150px;
}
.del-btn {
	color: #2d2927 !important;
}
.player a{
	color: #b2c2d4 !important;
}

.player a:link {
	color: #b2c2d4 !important;
}

.player a:hover {
	color: #fff;
}

#page-footer {
	padding-top: 10%;
	padding-bottom: 5%;
}
.session-btn {

}

.CANCELLED {
	display: none;
}

.dm-col{
	margin-top:50px;
}
.locked {
	display: none;
}
#enter-pass{
	margin-top: 50px;
}

.meta {
	margin-top: 30px;
	margin-bottom: 30px;
}
.meta p {
	margin-top: 30px;
	margin-bottom: 30px;
}